* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    display: table;
    clear: both;
    content: '';
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-image: linear-gradient(29deg, #ff512f 0%, #dd2476 100%);
}

.daily {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    max-width: 476px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

h3:before {
    content: url("../img/sign-up-icon.png");
    margin-right: 10px;
}

.daily h3 {
    margin-bottom: 16px;
    color: #1b1c1d;
    font-size: 24px;
    font-weight: bold;
}

.daily p {
    margin-bottom: 34px;
    color: #7a7b7f;
    font-size: 13px;
    line-height: 20px;
}

.daily p a {
    text-decoration: none;
    color: #ea355a;
}

.daily input {
    padding-left: 14px;
    padding-right: 14px;
    height: 40px;
    background-color: #f0f0f0;
    border: none;
    color: #7a7b7f;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}

.daily form [class*="half"] {
    width: 47.5%;
}

.daily input.half1 {
    float: left;
    margin-right: 3.8%;
}

.daily input.half2 {
    float: right;
}

.daily input.all {
    width: 100%;
}

.daily form button {
    width: 100%;
    height: 50px;
    margin-bottom: 27px;
    border: none;
    box-shadow: 0 3px 0 #bd1962;
    background-color: #ea355a;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.daily, input, button {
    border-radius: 4px;
}